$theme-color-1: #7b38ff;
$theme-color-2: #cc49ef;

// green #37b24d, #82c91e
$theme-color-3: #37b24d;
$theme-color-4: #82c91e;

//tortwice #12b886, #15aabf
$theme-color-5: #12b886;
$theme-color-6: #15aabf;

// blue #228be6, #4c6ef5
$theme-color-7: #228be6;
$theme-color-8: #4c6ef5;

// white// #e64980, #fa5252
$theme-color-9: #e64980;
$theme-color-10: #fa5252;

// :root {
//   --primary-theme-color: #7b38ff;
//   --secondary-theme-color: #cc49ef;

//   --pure-white: #fff;

//   --dark-gray: #5d5d5d;
//   --color-transparent: transparent;

//   --dark-gray-shadow: rgba(93, 93, 93, 0.3);
//   --light-gray-shadow: rgba(93, 93, 93, 0.1);
// }
$color-pure-white: #fff;
// $color-light-gray: #fdfdfd;
// $color-dark-gray: #b3b3b3;

$color-extralight-gray: #fdfdfd;
$color-light-gray: #b3b3b3;
$color-dark-gray: #5d5d5d;
$color-extradark-gray: #292d30;
