:root {
  // COMMON COLORS
  --primary-theme-color: #12b886;
  --secondary-theme-color: #15aabf;

  --primary-theme-color-alpha: rgba(18, 184, 134, 0.07);
  --secondary-theme-color-alpha: rgba(21, 171, 191, 0.07);

  --pure-white: #fff;
  --color-transparent: transparent;

  --dark-gray-shadow: rgba(41, 45, 48, 0.3);
  --light-gray-shadow: rgba(41, 45, 48, 0.1);

  --primary-fixed-color: #364f6a;
  --secondary-fixed-color: #292d30;

  // DAY & NIGHT THEME COLORS
  --light-color: #5d5d5d;
  --dark-color: #292d30;

  // BODY COLOR
  --dark-color-day-mode: #fbffd7;
  --light-color-day-mode: #ebefcb;
}

body.night-mode {
  --light-color: #fdfdfd;
  --dark-color: #b3b3b3;

  // BODY COLOR
  --dark-color-night-mode: #364f6a;
  --light-color-night-mode: #2f4861;
}
