/*
@font-face {
  font-family: "Nunito 100";
  src: url("../assets/myfonts/english/Nunito-100.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-100.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-100.svg#Nunito-100") format("svg"),
    url("../assets/myfonts/english/Nunito-100.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-100.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Nunito 200";
  src: url("../assets/myfonts/english/Nunito-200.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-200.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-200.svg#Nunito-200") format("svg"),
    url("../assets/myfonts/english/Nunito-200.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-200.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Nunito 400";
  src: url("../assets/myfonts/english/Nunito-400.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-400.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-400.svg#Nunito-400") format("svg"),
    url("../assets/myfonts/english/Nunito-400.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito 600";
  src: url("../assets/myfonts/english/Nunito-600.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-600.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-600.svg#Nunito-600") format("svg"),
    url("../assets/myfonts/english/Nunito-600.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito 700";
  src: url("../assets/myfonts/english/Nunito-700.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-700.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-700.svg#Nunito-700") format("svg"),
    url("../assets/myfonts/english/Nunito-700.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Nunito 800";
  src: url("../assets/myfonts/english/Nunito-800.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-800.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-800.svg#Nunito-800") format("svg"),
    url("../assets/myfonts/english/Nunito-800.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Nunito 900";
  src: url("../assets/myfonts/english/Nunito-900.ttf") format("truetype"),
    url("../assets/myfonts/english/Nunito-900.eot") format("opentype"),
    url("../assets/myfonts/english/Nunito-900.svg#Nunito-900") format("svg"),
    url("../assets/myfonts/english/Nunito-900.woff") format("woff"),
    url("../assets/myfonts/english/Nunito-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
*/
